# Python, incl. bytecode
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
*.egg-info/

# Distribution/packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE settings
.vscode/
!.vscode/extensions.json
.idea/

# Testing
.vscode/
.pytest_cache/
.coverage
htmlcov/

# Project specific
**/archive/
